@import '../../variaveis/variaveis';
.container__mission{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: dashed 1px black;

    .container__mission--image{
        .mission--image{
            height: 800px;
        }
    }

    .container__mission--info{
        width: 80%;

        .mission--info{
            text-align: center;
            margin: 15px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .mission--info--title{
                font-weight: $font-peso-bold;
                color: $cor-azul-escuro;
                font-size: 2.5em;
            }
            .mission--info--subtitle{
                color: $cor-azul-claro;
                margin-top: 10px;
                font-size: 1.9em;
                max-width: 50%;
            }
            .mission--info--texto{
                margin-top: 25px;
                font-size: 1.5em;
                max-width: 80%;
                color: $cor-azul-escuro;

            }

        }
    }
}