@import '../../variaveis/variaveis';

.container__plataform{
    padding: 45px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contaier__plataform--infos{
        width: 80%;
        text-align: center;
        margin-bottom: 55px;


        .plataform--infos{
            display: flex;
            flex-direction: column;
            align-items: center;
            .plataform--infos--title{
                font-weight: $font-peso-bold;
                color: $cor-azul-escuro;
                font-size: 2.5em;
                margin: 25px 0px;
            }
            .plataform--infos--subtitle{
                color: $cor-azul-claro;
                margin-top: 10px;
                font-size: 1.9em;
                max-width: 50%;

            }
            .plataform--infos--texto{
                margin-top: 25px;
                font-size: 1.5em;
                max-width: 80%;
                color: $cor-azul-escuro;

            }
        }
    }

    .container__plataform--cards{
        width: 80%;
        margin: 45px 0px;
        justify-content: space-evenly;
        display: flex;
        align-items: center;   
       
        .plataform--cards{           
            display: flex;
            flex-direction: column;
            align-items: center;

            .cards--image-1{
                
                //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                box-shadow: 0px 10px 20px 000000;
                background: linear-gradient(45deg, #c1c1c1 0%,#c1c1c1 0%,#f6f6f6 52%,#ffffff 100%);
                height: 410px;
                margin-top: 15px;
                img{
                    height: 450px;
                    width: 483px;
                    margin: 10px;
                }
            }
            .cards--image-2{
                margin: 0px;
                padding: 0px;
                height: 425px;
                img{
                    height:450px;
                }
            }

            .cards--botao{
                width: 80%;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
            
                a{  
                    padding: 15px;
                    text-align: center;
                    width: 100%;
                    text-decoration: none;
                    background-color: $cor-azul-escuro;
                    border-radius: 10px;
                    color: $cor-azul-claro;
                    font-weight: $font-peso-bold;
                    font-size: 1.2em;
                }
            }

        }
    }
}