@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

$font-principal: Merriweather;
$font-peso-light: 300;
$font-peso-regular: 400;
$font-peso-bold: bold;


$cor-azul-claro: #1EE6E6;
$cor-azul-escuro: #11235B;
$cor-branco: #FFFFFF;